<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WeatherService.WeatherSvc" behaviorConfiguration="MyBehavior">
        <endpoint address="weatherService" binding="basicHttpBinding"
          bindingConfiguration="" name="myEndpoint" contract="WeatherService.IWeatherSvc" />
          <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      
      </service>
    </services>
  </system.serviceModel>
</configuration>
